html {
    font-family: sans-serif;
}


button {
    font: inherit;
    background: #5102ac;
    border: 1px solid #5102ac;
    color: white;
    cursor: pointer;
    margin-right: 3rem;
    font-size: 1.5rem;
}

button:focus {
    outline: none;
}

button:hover,
button:active {
    background: #832ee4;
    border-color: #832ee4;
}

#control-center input{
    margin-top: 1rem;
    margin-right: 2rem;
}

#control-center {
    display:flex;
    flex-direction:row;
    border: 2px solid #ccc;
    margin: 2rem;
    padding: 2rem;
}

#dom{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}